apiVersion: v1
kind: Service
metadata:
  labels:
    app: hello
  name: hello
spec:
  ports:
  - name: 80-80
    port: 80
    protocol: TCP
    targetPort: {{ .Values.deployment.env.portName }}
  selector:
    app: hello
  type: ClusterIP
